* {
  background: #C3C3C3;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}

h1 {
  background: #1F301D;
  color:white;
  margin-bottom: 5px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 6px;
}

.guide {
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 6px;
  max-width: 600px;
  vertical-align: middle;
}

.glyphicon-plus:before {
  content: "\002b";
}

.glyphicon-minus:before {
  content: "\2212"
}

.guide h2, span {
  background: #88315E;
  color: white;
  font-size: 1.2em;
  font-weight: 100;
  padding:2px 5px;
}

.guide span {
  float: right;
  font-size: 1em;
  padding: 0;
}

.guideText * {
  border-top: 1px solid black;
  padding:4px 5px;
  background: #c2568e;
  color: white;
}

#app {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  vertical-align: middle;
}

#app .totalBill {
  background: #FE9A2E;
  text-align: center;
}

#app .totalBill label {
  background: #FE9A2E;
  margin-right: 5px;
}

#app .input-total {
  background: white;
  margin: 5px auto;
  padding: 2px 0;
  width: 60px;
  text-align: center;
}

#app ol {
  padding: 0;
}

#app li {
  border: 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 5px;
}

#app li:nth-child(even) {
  background: #1F301D;
}

#app li:nth-child(odd) {
  background: #6F8350;
}

#app li input {
  background: white;
  width: 40px;
}

#app li select, option {
  background: white;
}

#app li input:disabled {
  background: #808080;
  color: #808080;
}

#app li button {
  background: red;
  border: 0;
  color: white;
  font-size: 60%;
}

#app span {
  background: #FE9A2E;
  font-weight: bold;
  padding: 3px 5px;
  width: 130px;
}

#app .addPersonBtn {
  border: 0;
  background: #88315E;
  color: white;
  font-size: 1.2em;
  margin: 5px auto;
  padding: 5px 10px;
  width: 140px;
}